@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/*====================
	Global Css
====================*/
body {
	font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h5, h6{
	font-family: 'Josefin Sans', sans-serif;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}

/*====================
	Header Css
====================*/
header{
	background: #f7f7f7;
	padding: 10px 0;
}
.navbar-brand .logo{
	width: 100%;
}
/*Top Menu bar*/
a.nav-link.active {
    font-size: 19px;
    margin-left: 20px;
}
/*Top Menu bar*/
.carousel {
    padding: 0px 0px 25px;
}

.carousel-item {
    height: 517px;
}
.navbar-brand{
	color: #ff0000 !important;
	font-weight: 400;
}
.navbar-brand span{
	color: #378e00;
	font-weight: 600;
}

.all-books{
	padding: 100px 0;
}
.collection-home{
	text-align: center;
	padding: 30px 0;
}
.book-thumbnail{
	position: relative;
}
.author-info{
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 0 0px;
	width: 100%;
	color: #fff;
	text-align: center;
}
.book-item .book-info{
	background: #f7f7f7;
	padding: 20px;
	margin-bottom: 20px;
}
.book-item .book-info h4 {
	font-size: 22px;
	font-weight: 600;
	color: #378e00;
	line-height: 26px;
}
.book-item .book-info .sub_title{
	color: #333;
	font-weight: 400;
	font-style: italic;
	margin: 0;
}
.book-item .book-info .quantity{
	color: #378e00;
	font-weight: 600;
	font-style: normal;
	margin: 0;
}
.book-item .book-info .quantity span{
	font-weight: 600;
	color: #ff0000;
}
.book-item .book-info .book-btn{
	position: relative;
	overflow: hidden;
	background: #333;
	padding: 10px 40px;
	display: block;
	margin: 15px auto 0;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
	transition: all 0.4s ease-in-out;
}
.book-item .book-info .book-btn::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background: #ff0000;
	z-index: -1;
	transition: all 0.4s ease-in-out;
}
.book-item .book-info .book-btn:hover::after{
	left: 0;
}

/*Book Details*/
.book-details h4{
	font-weight: 700;
	font-size: 30px;
	margin: 0;
	line-height: 1em;
}
.book-details .sub_title{
	font-size: 15px;
}
.book-details .auther_name{
	color: #378e00;
}
.book-details .quantity span{
	color: #ff0000;
	font-weight: 600;
}
.book-details .book-btn{
	position: relative;
	overflow: hidden;
	background: #333;
	padding: 10px 40px;
	display: block;
	margin: 15px auto 0;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
	transition: all 0.4s ease-in-out;
}
.book-details .book-btn::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background: #ff0000;
	z-index: -1;
	transition: all 0.4s ease-in-out;
}
.book-details .book-btn:hover::after{
	left: 0;
}

/*Search Option*/
.search-option {
    position: sticky;
    top: 0;
}
.search-option .form-control{
	border-radius: 0;
	margin-top: 5px;
}
.search-option form .book-btn{
	position: relative;
	overflow: hidden;
	background: #333;
	padding: 10px 40px;
	display: block;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
	transition: all 0.4s ease-in-out;
	width: 100%;
	border: 0;
}
.search-option form .book-btn::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background: #ff0000;
	z-index: -1;
	transition: all 0.4s ease-in-out;
}
.search-option form .book-btn:hover::after{
	left: 0;
}

/* Login CSS  */
.login-section {
	padding: 200px 0 150px;
}

.nav-link .img-circle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #333;
}

.booking-form .btn-book{
	position: relative;
	overflow: hidden;
	background: #333;
	padding: 10px 40px;
	display: block;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
	transition: all 0.4s ease-in-out;
	width: 100%;
	border: 0;
}

.booking-form .btn-book::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background: #ff0000;
	z-index: -1;
	transition: all 0.4s ease-in-out;
}
.booking-form .btn-book:hover::after{
	left: 0;
}

.booking-page{
	padding: 100px 0;
}
.booking-page h2{
	margin: 10px 0 25px;
	color: #378e00;
	text-align: center;
}
.booking-page table{
	margin: 25px 0 50px;
}


/*footert*/
footer{
	padding: 50px;
	background: #303030;
}
.footer-text{
	font-size: 15px;
	padding: 25px 0px 20px;
	text-align: justify;
	color: silver;
}
.top-help{
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 11px;
}
.normal a{
	font-size: 18px;
	font-weight: 500;
	color: #ccc;
}
.helpTop {
    padding-top: 47px;
    text-align: center;
}